body {
  background-color: rgb(204, 216, 242);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none;
  transition: color 0.5s;
}

.link:hover {
  color: #17253e;
}

.basic-txt {
  font: 18px/1.5 Verdana, sans-serif;
}

.title-txt {
  font: 34px/1.3 Arial, sans-serif;
}

.contacts-txt-footer {
  font: 18px monospace;
  padding: 20px;
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  flex-direction: row;          
}

a {
  text-decoration: none;
  color: #4d4f52;
  transition: color 0.5s;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#contacts {            
  font: 16px monospace;
  background-color: #8a939d;
  padding: 16px;                
  border-radius: 10px;
  margin: 30px;
}

#profile {
  background-color: #99B5D8;
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
}

#skills {
  background-color: #a5b7e7;
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
}

#languages {
  background-color: #77a0c6;
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
}

#summary {
  background-color: #b2b2d3;
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blocks-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  min-width: 500px;
  max-width: 500px;
  

}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

@media (max-width: 768px) {
  .blocks-1 {
      width: 100%;
      flex-wrap: wrap;
  }
}

h1 {
  color: #2b3037;
  font: Arial, sans-serif;
}

.header {
  background-color: #babdc0;
  font: 18px monospace;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-link {     
  padding: 0 30px;
  line-height: 10px;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

.block-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer {
  background-color: #a1acb7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
